%body
  .row
    .col-md-6.col-md-offset-2
      = render :partial => 'landings/inscription_form'
    .col-md-3
      %h6{:style => 'margin-top:150px'}
        "Everybody in this country should learn how to program ... because it teaches you how to think" Steve Jobs
      
      %img{height: "100", src: "http://www.pmasta.net/images/steveJobs.jpg"}/