%form{action: "https://www.pagomaster.com/cl/cuenta/?cmd=checkout2", method: "post"}
			%input{name: "merchantAccount", type: "hidden", value: "diego@en1mes.com"}/
			%input{name: "amount", type: "hidden", value: "24990"}/
			%input{name: "currency", type: "hidden", value: "CLP"}/
			%input{name: "item_id", type: "hidden", value: "Taller online de Ruby on Rails"}/
			%input{name: "setupFee", type: "hidden", value: ""}/
			%input{name: "return_url", type: "hidden", value: "http://www.en1mes.com/workshops"}/
			%input{name: "cancel_url", type: "hidden", value: "http://www.en1mes.com"}/
			%input{name: "stopNumber", type: "hidden", value: ""}/
			%input{name: "stopRecurring", type: "hidden", value: ""}/
			%input{name: "durationType", type: "hidden", value: ""}/
			%input{name: "duration", type: "hidden", value: ""}/
			%input{name: "merchant_logo", type: "hidden", value: "https://trello-attachments.s3.amazonaws.com/5321620133e89183792cb68b/53682743e4ddb61f51e75cde/850x200/f5e994a719c70cffcfc56d93ebcf8953/banner_en1mes_copia.jpg"}/
			%input{name: "addresscheckoutstep", type: "hidden", value: "0"}/
			%input{name: "reselleraccount", type: "hidden", value: ""}/
			%input{name: "ccSubscription", type: "hidden", value: ""}/
			%input{name: "pst", type: "hidden", value: "1"}/
			%input{name: "ipk", type: "hidden", value: "1"}/
			%input{name: "cartImage", src: "http://media-cache-ak0.pinimg.com/originals/61/b6/b7/61b6b79a3d0b0ab8deaa86abe3df6f0a.jpg", type: "image", class:'img-responsive'}/	