<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@en1mes">
<meta name="twitter:title" content="Aprende a crear aplicaciones web con ruby on rails">
<meta name="twitter:description" content="Más de 100 personas han aprendido a hacer aplicaciones con este curso. Aprende con este taller online para que tengas el control de tu página">
<meta name="twitter:creator" content="@gsanchezd">
<meta name="twitter:image:src" content="https://www.dropbox.com/s/orcazuw4sxnbzuo/1397653_168715876663096_1998959184_o.jpg">
<meta name="twitter:domain" content="http://www.en1mes.com">
<meta name="twitter:app:name:iphone" content="">
<meta name="twitter:app:name:ipad" content="">
<meta name="twitter:app:name:googleplay" content="">
<meta name="twitter:app:url:iphone" content="">
<meta name="twitter:app:url:ipad" content="">
<meta name="twitter:app:url:googleplay" content="">
<meta name="twitter:app:id:iphone" content="">
<meta name="twitter:app:id:ipad" content="">
<meta name="twitter:app:id:googleplay" content="">