
- content_for :page_title do
  Aprende a crear aplicaciones web desde casa


- content_for :title do
  Crea Aplicaciones Web

- content_for :uvp do 
  %p Más de 100 personas han aprendido a hacer aplicaciones con este curso.
  %p Aprende con este taller online para que tengas el control de tu página



