.container{:style => 'margin-top:40px'}
	.row
		.col-md-12
			%h3 Dominas una tecnología y eres bueno enseñando?

	Estamos buscando a los mejores para hacer clases, si crees que tienes lo que se necesita, envíame un email a gonzalo@en1mes.com

	Crees que un amigo cumple con el perfil?, avísale que lo estamos buscando.

	


