%h1 Videos
%h3 Getting Ready to Code
%h4 1- A quick introduction
%iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/Mog0_UO0V4o", width: "420"}
%h4 2- Start learning how to code
%iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/13ZU7AgL58c", width: "560"}
%h4 3- Why ruby
%iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/4wD5rkbG1QM", width: "560"}
