%footer{:style => 'background-color:#ececec;margin-top:40px; padding-top:30px; padding-bottom:20px'}
  .container
    .row
      .container
        .col-md-5
          %h4 © En1mes.com
          %h5 Creado en Santiago, Chile
        .col-md-5.col-md-offset-2
          .pull-right
            %h4 Comparte
            = social_share_button_tag("Aprende Rails en un mes") 

